<%- include('../views/partials/header'); -%>
    <div class="row">
        <div class="col-md-6">
            <form method="post" action="/todo/edit/<%= todo._id %>">
                <div class="form-group">
                    <label>Todo Name</label>
                    <input class="form-control" type="text" name="head" placeholder="Todo Name" value="<%= todo.head %>">
                </div>
        
                <div class="form-group">
                    <label>Todo Body</label>
                    <textarea class="form-control" type="text" name="text" placeholder="Add Body"><%= todo.head %></textarea>
                </div>
                <br>
                <button class="btn btn-primary" type="submit">Edit</button> 
                <a class ="btn btn-danger ms-5" href="/">Cancel</a>
            </form>
        </div>
    </div>
    
   
<%- include('../views/partials/footer'); -%>